@import "~bootstrap/scss/bootstrap.scss";

#sidebar{
    background: darkgray;
    width: 150px;
    float: left;
    height: 604px;
    padding: 20px;
}
#content{
    background: rgb(99, 97, 97);
    color: white;
    height: 566px;
    padding: 20px;
    width: 550px;
}
.playbar{
    width: 400px;
    overflow: auto;
}
img{
    height: 100px;
}

.song:hover{
    background-color: #636664;
}
i{
    font-size: large;
}
